<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright 2013 Palantir Technologies, Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<plugin>

   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            id="com.palantir.typescript.mergeViewer"
            class="com.palantir.typescript.MergeViewerCreator"
            extensions="ts">
      </viewer>
   </extension>

   <extension
         id="typeScriptBuilder"
         name="TypeScript Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="com.palantir.typescript.TypeScriptBuilder">
         </run>
      </builder>
   </extension>

   <extension
         id="typeScriptProblem"
         name="TypeScript Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

   <extension
         id="typeScriptNature"
         name="TypeScript Project Nature"
         point="org.eclipse.core.resources.natures">
      <builder
            id="com.palantir.typescript.typeScriptBuilder">
      </builder>
      <runtime>
         <run
               class="com.palantir.typescript.ProjectNature">
         </run>
      </runtime>
   </extension>

   <extension
         id="typeScriptTask"
         name="TypeScript Task"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.taskmarker"/>
      <super
            type="org.eclipse.core.resources.textmarker"/>
      <persistent
            value="true">
      </persistent>
   </extension>

   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            id="com.palantir.typescript.searchViewPage"
            class="com.palantir.typescript.search.SearchResultPage"
            searchResultClass="com.palantir.typescript.search.SearchResult">
      </viewPage>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
      <key
            sequence="M1+M2+G"
            contextId="com.palantir.typescript.text.typeScriptEditorScope"
            commandId="com.palantir.typescript.text.findReferences"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+M2+F"
            contextId="com.palantir.typescript.text.typeScriptEditorScope"
            commandId="com.palantir.typescript.text.format"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+M2+M"
            commandId="com.palantir.typescript.navigate.openType"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+M2+P"
            contextId="com.palantir.typescript.text.typeScriptEditorScope"
            commandId="com.palantir.typescript.text.goToMatchingBracket"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="F3"
            contextId="com.palantir.typescript.text.typeScriptEditorScope"
            commandId="com.palantir.typescript.text.openDefinition"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+O"
            contextId="com.palantir.typescript.text.typeScriptEditorScope"
            commandId="com.palantir.typescript.text.quickOutline"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+M2+C"
            contextId="com.palantir.typescript.text.typeScriptEditorScope"
            commandId="com.palantir.typescript.text.toggleComment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+7"
            contextId="com.palantir.typescript.text.typeScriptEditorScope"
            commandId="com.palantir.typescript.text.toggleComment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+/"
            contextId="com.palantir.typescript.text.typeScriptEditorScope"
            commandId="com.palantir.typescript.text.toggleComment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M2+M3+R"
            contextId="com.palantir.typescript.text.typeScriptEditorScope"
            commandId="com.palantir.typescript.text.rename"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M2+M3+R"
            commandId=""
            contextId="com.palantir.typescript.text.typeScriptEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="COMMAND+ALT+R"
            contextId="com.palantir.typescript.text.typeScriptEditorScope"
            commandId="com.palantir.typescript.text.rename"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.palantir.typescript.typeScriptNature.category"
            name="%command.category">
      </category>
      <command
            id="com.palantir.typescript.navigate.openType"
            defaultHandler="com.palantir.typescript.navigate.OpenTypeHandler"
            name="%command.openType.name">
      </command>
      <command
            id="com.palantir.typescript.toggleNature"
            categoryId="com.palantir.typescript.typeScriptNature.category"
            defaultHandler="com.palantir.typescript.ToggleNatureHandler"
            name="%command.toggleNature.name">
      </command>
      <command
            id="com.palantir.typescript.text.findReferences"
            name="%command.findReferences.name">
      </command>
      <command
            id="com.palantir.typescript.text.format"
            name="%command.format.name">
      </command>
      <command
            id="com.palantir.typescript.text.goToMatchingBracket"
            name="%command.goToMatchingBracket.name">
      </command>
      <command
            id="com.palantir.typescript.text.openDefinition"
            name="%command.openDefinition.name">
      </command>
      <command
            id="com.palantir.typescript.text.quickOutline"
            name="%command.quickOutline.name">
      </command>
      <command
            id="com.palantir.typescript.text.rename"
            name="%command.rename.name">
      </command>
      <command
            id="com.palantir.typescript.text.toggleComment"
            name="%command.toggleComment.name">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.contexts">
      <context
            name="TypeScript"
            parentId="org.eclipse.ui.textEditorScope"
            id="com.palantir.typescript.text.typeScriptEditorScope">
      </context>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="TypeScript Editor"
            extensions="ts"
            icon="icons/typeScript.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.palantir.typescript.text.TypeScriptEditor"
            id="com.palantir.typescript.text.typeScriptEditor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="com.palantir.typescript.diagnostic"
            markerType="com.palantir.typescript.typeScriptProblem"
            super="org.eclipse.ui.workbench.texteditor.error">
      </type>
      <type
            name="com.palantir.typescript.occurrences">
      </type>
      <type
            name="com.palantir.typescript.task"
            markerType="com.palantir.typescript.typeScriptTask"
            super="org.eclipse.ui.workbench.texteditor.task">
      </type>
   </extension>

   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="com.palantir.typescript.occurrences"
            colorPreferenceKey="occurrencesColor"
            colorPreferenceValue="212,212,212"
            contributesToHeader="false"
            highlightPreferenceKey="occurrencesHighlight"
            highlightPreferenceValue="true"
            isGoToNextNavigationTargetKey="occurrencesIsGoToNextNavigationTarget"
            isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="occurrencesIsGoToPreviousNavigationTarget"
            isGoToPreviousNavigationTarget="false"
            label="Occurrences (TypeScript)"
            overviewRulerPreferenceKey="occurrencesOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="4"
            showInNextPrevDropdownToolbarActionKey="occurrencesShowInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceKey="occurrencesText"
            textPreferenceValue="false"
            textStylePreferenceKey="occurrencesTextStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="occurrencesVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:#TextEditorContext?after=group.open">
          <command
                commandId="com.palantir.typescript.text.openDefinition">
          </command>
          <command
                commandId="com.palantir.typescript.text.quickOutline">
          </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
          <command
                commandId="com.palantir.typescript.text.format">
          </command>
          <command
                commandId="com.palantir.typescript.text.rename">
          </command>
          <command
                commandId="com.palantir.typescript.text.toggleComment">
          </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:#TextEditorContext?after=group.find">
          <command
                commandId="com.palantir.typescript.text.findReferences">
          </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="com.palantir.typescript.toggleNature"
               label="Disable TypeScript Builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                         <and>
                            <instanceof
                                  value="org.eclipse.core.resources.IProject">
                            </instanceof>
                            <test
                                  property="org.eclipse.core.resources.projectNature"
                                  value="com.palantir.typescript.typeScriptNature">
                            </test>
                         </and>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.palantir.typescript.toggleNature"
               label="Enable TypeScript Builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                           <not>
                              <test
                                    property="org.eclipse.core.resources.projectNature"
                                    value="com.palantir.typescript.typeScriptNature">
                              </test>
                           </not>
                        </and>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension
         point = "org.eclipse.ui.preferencePages">
      <page
            id="com.palantir.typescript.compilerPreferencePage"
            category="com.palantir.typescript.generalPreferencePage"
            class="com.palantir.typescript.preferences.CompilerPreferencePage"
            name="Compiler">
      </page>
      <page
            id="com.palantir.typescript.contentAssistPreferencePage"
            category="com.palantir.typescript.generalPreferencePage"
            class="com.palantir.typescript.preferences.ContentAssistPreferencePage"
            name="Content Assist">
      </page>
      <page
            id="com.palantir.typescript.formatterPreferencePage"
            category="com.palantir.typescript.generalPreferencePage"
            class="com.palantir.typescript.preferences.FormatterPreferencePage"
            name="Formatter">
      </page>
      <page
            id="com.palantir.typescript.generalPreferencePage"
            class="com.palantir.typescript.preferences.GeneralPreferencePage"
            name="TypeScript">
      </page>
      <page
            id="com.palantir.typescript.typingPreferencePage"
            category="com.palantir.typescript.generalPreferencePage"
            class="com.palantir.typescript.preferences.TypingPreferencePage"
            name="Typing">
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.palantir.typescript.preferences.BuildPathPropertyPage"
            id="com.palantir.typescript.buildPathPropertyPage"
            name="TypeScript">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="com.palantir.typescript.typeScriptNature">
                  </test>
               </and>
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="com.palantir.typescript.buildPathPropertyPage"
            class="com.palantir.typescript.preferences.CompilerPreferencePage"
            id="com.palantir.typescript.compilerPreferencePage"
            name="Compiler">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="com.palantir.typescript.typeScriptNature">
                  </test>
               </and>
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="com.palantir.typescript.buildPathPropertyPage"
            class="com.palantir.typescript.preferences.FormatterPreferencePage"
            id="com.palantir.typescript.formatterPreferencePage"
            name="Formatter">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="com.palantir.typescript.typeScriptNature">
                  </test>
               </and>
            </adapt>
         </enabledWhen>
      </page>
   </extension>

</plugin>
