<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright 2013 Palantir Technologies, Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<plugin>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            id="com.palantir.typescript.mergeViewer"
            class="com.palantir.typescript.MergeViewerCreator"
            extensions="ts">
      </viewer>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
      <key
            sequence="M1+M2+F"
            contextId="com.palantir.typescript.text.typeScriptEditorScope"
            commandId="com.palantir.typescript.text.format"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="F3"
            contextId="com.palantir.typescript.text.typeScriptEditorScope"
            commandId="com.palantir.typescript.text.openDefinition"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.palantir.typescript.text.format"
            name="Format">
      </command>
      <command
            id="com.palantir.typescript.text.openDefinition"
            name="Open Definition">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.contexts">
      <context
            name="TypeScript"
            parentId="org.eclipse.ui.textEditorScope"
            id="com.palantir.typescript.text.typeScriptEditorScope">
      </context>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="TypeScript Editor"
            extensions="ts"
            icon="icons/typeScript.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.palantir.typescript.text.TypeScriptEditor"
            id="com.palantir.typescript.text.typeScriptEditor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:#TextEditorContext?before=additions">
          <separator
                name="com.palantir.typescript.separator"
                visible="true">
          </separator>
          <command
                commandId="com.palantir.typescript.text.format">
          </command>
          <command
                commandId="com.palantir.typescript.text.openDefinition">
          </command>
      </menuContribution>
   </extension>

</plugin>
